<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hako Owner</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="icon" href="hako_icon.png">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <script src="Hako_abi.js"></script>
  <script src="hakoAddress.js"></script>
  <style>
    .ownerOnly {
      font-size: 20px;
      color: red;
      text-align: center;
      margin-bottom: 50px;
    }
  </style>
</head>
<body>
  <header>
    <div class="header-logo">
      <a href="index.html">Hako Finance</a>
    </div>
    <p class="introduction">
      Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance! 
      Welcome to next-generation DeFi!
    </p>
  </header>

  <div class="container" id="owner">
    <div class="tab">
      <ul>
        <li class="tab-item" v-for="(item, index) in items" :key="index" :class="{active: active === index}" @click="activate(index)" v-cloak>
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane hakoInfo" v-show="active === 0 && isHakoOwner">       
        <h1>Hako Information</h1>
        <ul>
          <li class="infoAddress" v-cloak> Hako's address <br> {{hakoAddress}} </li>
          <li class="infoAddress" v-cloak> Hako Owner's address <br> {{hakoOwner}} </li>
          <li class="infoData" v-cloak> Hako's balance of token <br> {{balanceOfHako}} </li>
          <li class="infoData" v-cloak> Total supply of token <br> {{totalSupply}} </li>
          <li class="infoData" v-cloak> Hako's credit to Members <br> {{creditOfHako}} </li>
          <li class="infoData" v-cloak> Hako's debt to Members <br> {{debtOfHako}} </li>
          <li class="infoData" v-cloak> Owner's balance of token <br> {{balanceOfHakoOwner}} </li>
          <li class="infoData" v-cloak> Upper limit <br> {{upperLimit}} </li>
          <li class="infoData" v-cloak> Member Count <br> {{memberCount}} </li>
        </ul>
      </div>
      <div class="tab-pane hakoInfo" v-show="active === 0 && !isHakoOwner">       
        <h1>Owner Only</h1>
        <p class="ownerOnly">This page is hako owner only!</p>
      </div>
      <div class="tab-pane transactions" v-show="active === 1 && isHakoOwner">
        <h1>Transactions</h1>
        <div class="transaction changeHakoOwner">
          <h2>change hako owner</h2>
          <p>Change hako owner to new owner.<br>
          (Hako member can't be new hako owner.)</p>
          to who? <input class="question" type="text" name="to" v-model="txDataA.to"><br>
          <button class="button" @click="changeHakoOwnerCheck">check</button>
          <p class="okCheckSentence" v-show="txDataA.ok && txDataA.active" v-cloak>{{txDataA.okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!txDataA.ok && txDataA.active" v-cloak>{{txDataA.noCheckSentence}}</p>
          <button class="button" @click="changeHakoOwner" v-show="txDataA.ok && txDataA.active">change</button>
          <p>{{txDataA.txStatus}}</p>
        </div> 
        <div class="transaction changeUpperLimit">
          <h2>change upper limit</h2>
          <p>Change the upper limit of borrowing and credit creation value</p>
          new upper limit <input class="question" type="text" name="value" v-model="txDataB.value"><br>
          <button class="button" @click="changeUpperLimitCheck">check</button>
          <p class="okCheckSentence" v-show="txDataB.ok && txDataB.active" v-cloak>{{txDataB.okCheckSentence}}</p>
          <p class="noCheckSentence" v-show="!txDataB.ok && txDataB.active" v-cloak>{{txDataB.noCheckSentence}}</p>
          <button class="button" @click="changeUpperLimit" v-show="txDataB.ok && txDataB.active">change</button>
          <p>{{txDataB.txStatus}}</p>
        </div> 
      </div>
      <div class="tab-pane hakoInfo" v-show="active === 1 && !isHakoOwner">       
        <h1>Owner Only</h1>
        <p class="ownerOnly">This page is hako owner only!</p>
      </div>
    </div>
  </div>
  <footer>
  </footer>  
  <script>
    var hako;
    var userAccount;
    var hakoOwner;
    async function startApp() {
      hako = new web3.eth.Contract(hakoABI, hakoAddress);
      userAccount = await web3.eth.getCoinbase();
      hakoOwner = await hako.methods.hakoOwner().call();
      ownerVM.hakoAddress = hakoAddress;
      ownerVM.userAccount = userAccount;
      ownerVM.hakoOwner = hakoOwner;
      ownerVM.displayHakoInfo();
    }

    window.addEventListener('load', function () {
      if (typeof web3 !== 'undefined') {
        web3 = new Web3(window.ethereum);
        console.log('web3 created!');
      } else {
        alert('install wallet!');
        console.log('install wallet!');
      }
      startApp();
    });

    var ownerVM = new Vue({
      el: '#owner',
      data: {
        active: 0,
        items: [
          'Hako Information',
          'Transactions',
        ],
        hakoOwner: '',
        userAccount: '',
        hakoAddress: '',
        totalSupply: '',
        balanceOfHako: '',
        creditOfHako: '',
        debtOfHako: '',
        balanceOfHakoOwner: '',
        upperLimit: '',
        memberCount: '',
        txDataA: {
          to: '',
          memberOrNotOfTo: '',
          noCheckSentence: '',
          okCheckSentence: '',
          ok: '',
          active: false,
          txStatus: ''
        },
        txDataB: {
          value: '',
          noCheckSentence: '',
          okCheckSentence: '',
          ok: '',
          active: false,
          txStatus: ''
        },
      },
      methods: {
        activate: function(index) {
          this.active = index;
        },
        displayHakoInfo: async function() {
          this.hakoOwner = await hako.methods.hakoOwner().call();
          this.totalSupply = await hako.methods.totalSupply().call();
          this.balanceOfHako = await hako.methods.balanceOfHako().call();
          this.creditOfHako = await hako.methods.creditOfHako().call();
          this.debtOfHako = await hako.methods.debtOfHako().call();
          this.balanceOfHakoOwner = await hako.methods.balanceOfHakoOwner().call();
          this.upperLimit = await hako.methods.upperLimit().call();
          this.memberCount = await hako.methods.memberCount().call();
        },
        changeHakoOwnerCheck: async function() {
          this.txDataA.ok = false;
          if (!this.txDataA.to) {
            this.txDataA.noCheckSentence = "Please input a value!";
            this.txDataA.active = !this.txDataA.active;
            return;
          }
          try {
            this.txDataA.memberOrNotOfTo = await hako.methods.memberCheckOf(this.txDataA.to).call();
          } catch (error) {
            this.txDataA.noCheckSentence = "Please input an address exactly!";
            this.txDataA.active = !this.txDataA.active;
            return;
          }
          if (this.txDataA.memberOrNotOfTo === '1') {
            this.txDataA.noCheckSentence = 
            "NO! <" + this.txDataA.to + "> is a member! Member account can't be hako owner!";
          } else {
            this.txDataA.okCheckSentence = 
            "OK! You, the current hako owner, change owner to <" + this.txDataA.to + ">!";
            this.txDataA.ok = true;
          }
          this.txDataA.active = !this.txDataA.active;
        },
        changeHakoOwner: function() {
          this.txDataA.txStatus = "Changing hako owner on the blockchain. This may take a while...";
          return hako.methods.changeHakoOwner(this.txDataA.to)
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              ownerVM.txDataA.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              ownerVM.txDataA.txStatus = "";
              alert('Transaction errored!');
            });
        },
        changeUpperLimitCheck: async function() {
          this.txDataB.ok = false;
          if (!this.txDataB.value) {
            this.txDataB.noCheckSentence = "Please input a value!";
            this.txDataB.active = !this.txDataB.active;
            return;
          }
          if (isNaN(this.txDataB.value)) {
            this.txDataB.noCheckSentence = "Please input a value as number!";
            this.txDataB.active = !this.txDataB.active;
            return;
          }
          if (!Number.isInteger(Number(this.txDataB.value))) {
            this.txDataB.noCheckSentence = "Please input a value as integer!";
            this.txDataB.active = !this.txDataB.active;
            return;
          }
          this.txDataB.okCheckSentence = 
          "OK! You, the current hako owner, change the upper limit to " + this.txDataB.value + "!";
          this.txDataB.ok = true;
          this.txDataB.active = !this.txDataB.active;
        },
        changeUpperLimit: function() {
          this.txDataB.txStatus = "Changing upper limit on the blockchain. This may take a while...";
          return hako.methods.changeUpperLimit(Number(this.txDataB.value))
            .send({ from: userAccount })
            .on("receipt", function (receipt) {
              ownerVM.txDataB.txStatus = "";
              alert('Transaction successed!');
            })
            .on("error", function (error) {
              ownerVM.txDataB.txStatus = "";
              alert('Transaction errored!');
            });
        }
      },
      computed: {
        isHakoOwner() {
          return this.hakoOwner.toUpperCase() === this.userAccount.toUpperCase();
        }
      }
    });
  </script>
</body>
</html>