<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hako Finance</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="icon" href="hako_icon.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.9/web3.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  <script src="Hako_abi.js"></script>
  <script src="hakoAddress.js"></script>
</head>
<body>
  <header>
    <div class="header-logo">
      <a href="index.html">Hako Finance</a>
    </div>
    <p class="introduction">
      Transfer, get, lend, borrow, and credit creation, all transactions are realized on Hako Finance! 
      Welcome to next-generation DeFi!
    </p>
  </header>
  <div class="container" id="app">
    <div class="tab">
      <ul>
        <li class="tab-item" v-for="(item, index) in items" :key="index" :class="{active: active === index}" @click="activate(index)" v-cloak>
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane hakoInfo" v-show="active === 0">
        <h1>Hako Information</h1>
        <ul>
          <li class="infoAddress" v-cloak> Hako's address <br> {{hakoData.hakoAddress}} </li>
          <li class="infoData" v-cloak> Hako's balance of token <br> {{hakoData.balanceOfHako}} </li>
          <li class="infoData" v-cloak> Total supply of token <br> {{hakoData.totalSupply}} </li>
          <li class="infoData" v-show="isMember" v-cloak> Hako's credit to Members <br> {{hakoData.creditOfHako}} </li>
          <li class="infoData" v-show="isMember" v-cloak> Hako's debt to Members <br> {{hakoData.debtOfHako}} </li>
          <li class="infoData" v-show="isMember" v-cloak> Member Count <br> {{hakoData.memberCount}} </li>
        </ul>
      </div>
      <div class="tab-pane userInfo" v-show="active === 1">
        <h1>User Infomation</h1>
        <ul>
          <li class="infoAddress" v-cloak> Your address <br> {{userData.userAccount}} </li>
          <li class="infoData" v-cloak> balance of token <br> {{userData.balanceOfUser}} </li>
        </ul>
        <ul>
          <li class="memberCheck" v-cloak> {{userData.memberCheckOfUser}} </li>
          <li class="infoData" v-show="isMember" v-cloak> credit <br> {{userData.creditToHakoOfUser}} </li>
          <li class="infoData" v-show="isMember" v-cloak> debt <br> {{userData.debtToHakoOfUser}} </li>
          <li class="infoData" v-show="isMember" v-cloak> lending <br> {{userData.creditToMemberOfUser}} </li>
          <li class="infoData" v-show="isMember" v-cloak> borrowing <br> {{userData.debtToMemberOfUser}} </li>
          <li class="infoData" v-show="isMember" v-cloak> net assets <br> {{userData.netAssetsOfUser}} </li>
          <li class="supplement" v-show="isMember">* net assets = balance + credit<br> - debt + lending - borrowing</li>
        </ul>
        <ul>
          <li class="memberCheck" v-show="isMember">Registered borrowing</li>
          <li class="infoData" v-show="isMember" v-cloak> value <br> {{userData.valueDuration.value}} </li>
          <li class="infoData" v-show="isMember" v-cloak> duration <br> {{userData.valueDuration.duration}} </li>
        </ul>
      </div>
      <div class="tab-pane transactions" v-show="active === 2">
        <h1>Transactions</h1>
        <ul>
          <div class="transactionLink transfer">
            <div v-if="haveToken">
              <li class="linkToTransaction">
                <a href="transactions/transfer.html">transfer token</a>
              </li><br>
              <div class="enter">
                <a href="transactions/transfer.html">enter</a>
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                transfer token
              </li><br>
              <div class="noDisplay">
                You don't have token!
              </div>
            </div>
          </div>
          <div class="transactionLink transferCredit">
            <div v-if="isMember && haveCredit">
              <li class="linkToTransaction">
                <a href="transactions/transferCredit.html">transfer credit</a>
              </li><br>
              <div class="enter">
                <a href="transactions/transferCredit.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                transfer credit
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                transfer credit
              </li><br>
              <div class="noDisplay">
                You don't have credit!
              </div>
            </div>
          </div>
          <div class="transactionLink joinHako">
            <div v-if="!isMember">
              <li class="linkToTransaction">
                <a href="transactions/joinHako.html">join Hako</a>
              </li><br>
              <div class="enter">
                <a href="transactions/joinHako.html">enter</a>
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                join Hako
              </li><br>
              <div class="noDisplay">
                Non-Member Only
              </div>
            </div>
          </div>
          <div class="transactionLink leaveHako">
            <div v-if="isMember && haveNotDebtToHako && haveNotDebtToMember && haveNotCreditToMember">
              <li class="linkToTransaction">
                <a href="transactions/leaveHako.html">leave Hako</a>
              </li><br>
              <div class="enter">
                <a href="transactions/leaveHako.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                leave Hako
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="!haveNotDebtToHako">
              <li class="linkToTransaction">
                leave Hako
              </li><br>
              <div class="noDisplay">
                You have debt!
              </div>
            </div>
            <div v-else-if="!haveNotDebtToMember">
              <li class="linkToTransaction">
                leave Hako
              </li><br>
              <div class="noDisplay">
                You're borrowing!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                leave Hako
              </li><br>
              <div class="noDisplay">
                You're lending! 
              </div>
            </div>
          </div>
          <div class="transactionLink depositToken">
            <div v-if="isMember && haveToken">
              <li class="linkToTransaction">
                <a href="transactions/depositToken.html">deposit token</a>
              </li><br>
              <div class="enter">
                <a href="transactions/depositToken.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                deposit token
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                deposit token
              </li><br>
              <div class="noDisplay">
                You don't have token!
              </div>
            </div>
          </div>
          <div class="transactionLink withdrawToken">
            <div v-if="isMember && haveCredit && haveNotDebtToHako && haveNotDebtToMember">
              <li class="linkToTransaction">
                <a href="transactions/withdrawToken.html">withdraw token</a>
              </li><br>
              <div class="enter">
                <a href="transactions/withdrawToken.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                withdraw token
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="!haveCredit">
              <li class="linkToTransaction">
                withdraw token
              </li><br>
              <div class="noDisplay">
                You don't have credit!
              </div>
            </div>
            <div v-else-if="!haveNotDebtToHako">
              <li class="linkToTransaction">
                withdraw token
              </li><br>
              <div class="noDisplay">
                You have debt!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                withdraw token
              </li><br>
              <div class="noDisplay">
                You're borrowing!
              </div>
            </div>
          </div>
          <div class="transactionLink registerBorrowValueDuration">
            <div v-if="isMember && haveNotDebtToMember && havePlusNetAssets">
              <li class="linkToTransaction">
                <a href="transactions/registerBorrowValueDuration.html">register borrowing</a>
              </li><br> 
              <div class="enter">
                <a href="transactions/registerBorrowValueDuration.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                register borrowing
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="!haveNotDebtToMember">
              <li class="linkToTransaction">
                register borrowing
              </li><br>
              <div class="noDisplay">
                You're borrowing!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                register borrowing
              </li><br>
              <div class="noDisplay">
                Net assets is 0 or minus!
              </div>
            </div>
          </div>
          <div class="transactionLink lendCredit">
            <div v-if="isMember && haveCredit">
              <li class="linkToTransaction">
                <a href="transactions/lendCredit.html">lend credit</a>
              </li><br>
              <div class="enter">
                <a href="transactions/lendCredit.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                lend credit
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                lend credit
              </li><br>
              <div class="noDisplay">
                You don't have credit!
              </div>
            </div>
          </div>
          <div class="transactionLink collectDebtFrom">
            <div v-if="isMember && !haveNotCreditToMember">
              <li class="linkToTransaction">
                <a href="transactions/collectDebtFrom.html">collect debt</a>
              </li><br>
              <div class="enter">
                <a href="transactions/collectDebtFrom.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                collect debt
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                collect debt
              </li><br>
              <div class="noDisplay">
                You're not lending!
              </div>
            </div>
          </div>
          <div class="transactionLink returnDebtTo">
            <div v-if="isMember && !haveNotDebtToMember && haveCredit">
              <li class="linkToTransaction">
                <a href="transactions/returnDebtTo.html">return debt</a>
              </li><br>
              <div class="enter">
                <a href="transactions/returnDebtTo.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                return debt
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="haveNotDebtToMember">
              <li class="linkToTransaction">
                return debt
              </li><br>
              <div class="noDisplay">
                You're not borrowing!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                return debt
              </li><br>
              <div class="noDisplay">
                You don't have credit!
              </div>
            </div>
          </div>
          <div class="transactionLink creditCreationByMember">
            <div v-if="isMember && haveNotDebtToHako && havePlusNetAssets">
              <li class="linkToTransaction">
                <a href="transactions/creditCreationByMember.html">credit creation</a>
              </li><br>
              <div class="enter">
                <a href="transactions/creditCreationByMember.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                credit creation
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="!haveNotDebtToHako">
              <li class="linkToTransaction">
                credit creation
              </li><br>
              <div class="noDisplay">
                You have debt!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                credit creation
              </li><br>
              <div class="noDisplay">
                Net assets is 0 or minus!
              </div>
            </div>
          </div>
          <div class="transactionLink arrangement">
            <div v-if="isMember && !haveNotDebtToHako && haveCredit">
              <li class="linkToTransaction">
                <a href="transactions/arrangement.html">arrangement debt</a>
              </li><br>
              <div class="enter">
                <a href="transactions/arrangement.html">enter</a>
              </div>
            </div>
            <div v-else-if="!isMember">
              <li class="linkToTransaction">
                arrangement debt
              </li><br>
              <div class="noDisplay">
                Member Only
              </div>
            </div>
            <div v-else-if="haveNotDebtToHako">
              <li class="linkToTransaction">
                arrangement debt
              </li><br>
              <div class="noDisplay">
                You don't have debt!
              </div>
            </div>
            <div v-else>
              <li class="linkToTransaction">
                arrangement debt
              </li><br>
              <div class="noDisplay">
                You don't have credit!
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <footer>
  </footer>  
  <script src="scripts/script3.js"></script>
</body>
</html>
