body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image:
	 linear-gradient(-90deg, chocolate 50%, blanchedalmond 50%);
	background-size: 40px 40px;
}

header {
  height: 170px;
  background-color: blanchedalmond;
  margin: 20px auto;
  width: 740px;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}

.header-logo {
  font-family: 'Londrina Shadow', cursive;
  font-size: 70px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: chocolate;
}

.introduction {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: 740px;
  border-radius: 20px;
}

.tab-pane ul {
  padding-bottom: 20px;
}

.tab {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  width: 740px;
}

.tab-item {
  font-size: 20px;
  display: inline-block;
  background-color:blanchedalmond;
  padding: 10px;
  width: 200px;
  text-align: center;
  border: solid 1px saddlebrown;
  border-radius: 10px;
}

.tab-item:hover {
  border: dashed 3px saddlebrown;
}

.tab-item.active {
  border: solid 3px saddlebrown;
}

li {
  list-style: none;
  font-size: 20px;
}

h1 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 40px;
  padding: 20px;
}

.hakoInfo {
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}

.hakoInfo li {
  margin: 10px auto;
}

.userInfo {
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}

.infoData {
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 300px;
  display: inline-block;
  border: solid 2px chocolate;
  border-radius: 10px;
  margin: 10px auto;
}

.infoAddress {
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 630px;
  display: inline-block;
  border: solid 2px chocolate;
  border-radius: 10px;
  margin: 10px auto;
}

.memberCheck {
  text-align: center;
}

.supplement {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  height: 50px;
  width: 300px;
  display: inline-block;
  margin: 10px auto;
}

.transactions {
  background-color: blanchedalmond;
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  border: solid 3px saddlebrown;
  border-radius: 20px;
}

.enter {
  margin: 27px auto;
  display: inline-block;
  font-size: 18px;
}

.noDisplay {
  margin: 27px auto;
  display: inline-block;
  color: red;
  font-size: 18px;
}

.linkToTransaction {
  margin: 13px auto;
  display: inline-block;
}

.transactionLink {
  text-align: center;
  padding: 10px;
  height: 120px;
  width: 300px;
  display: inline-block;
  border: solid 2px chocolate;
  border-radius: 10px;
  margin: 10px auto;
}

footer {
  margin-bottom: 0;
  height: 300px;
  background-color: blanchedalmond;
  border-top: solid 3px saddlebrown;
}

[v-cloak] {
  display: none;
}

button {
  background-color: chocolate;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height:40px;
  border-radius: 5px;
}

button:hover {
  background-color: saddlebrown;
  color: white;
}

.transaction {
  padding: 30px;
}

.noCheckSentence {
  color: red;
}

.creditDebtInfo {
  width: 600px;
  border: solid 1px chocolate;
  border-radius: 10px;
  background-color:navajowhite;
  margin: 20px auto;
}

.creditDebtInfo li {
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.question {
  margin: 10px;
}

.duration {
  width: 55px;
}